<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904497988998-ggspbn6fojkauhheu4ig1ljmjao9ujg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904497988998-ggspbn6fojkauhheu4ig1ljmjao9ujg5</string>
	<key>API_KEY</key>
	<string>AIzaSyBVt_6NyRhTBJLwbA4SkfgEgYnRT543ZwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>904497988998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceApp</string>
	<key>PROJECT_ID</key>
	<string>practice0x45</string>
	<key>STORAGE_BUCKET</key>
	<string>practice0x45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904497988998:ios:4b3fb767a797f2d6fe5807</string>
</dict>
</plist>